<header>
  <form method="GET" action="/">
    <button>Home</button>
  </form>
  <form method="GET" action="/category">
    <button>Categories</button>
  </form>
  <form method="GET" action="#">
    <button>Items</button>
  </form>
  <form method="GET" action="/category/add-category">
    <button>Add Category</button>
  </form>
  <form method="GET" action="/item/add-item">
    <button>Add Item</button>
  </form>
</header>
