<!DOCTYPE html>
<html>
  <head>
    <title>Inventory App | Categories</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <div class="ctitle">Categories</div>

      <% allCategory.forEach((i) => { %>
      <div class="categories">
        <div>- <%= i.name %></div>
        <div><%= i.desc%></div>
      </div>
      <hr />
      <% }) %>
    </main>
  </body>
</html>
