<!DOCTYPE html>
<html>
  <head>
    <title>Inventory App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div>Home</div>
      <div>Categories</div>
      <div>Items</div>
      <div>Add Category</div>
      <div>Add Item</div>
    </header>

    <main>
      <div class="title">My Inventory,</div>
      <div class="main-desc">
        A place to Create, Read, Update and Delete categories and items.
      </div>

      <div class="totalItems">
        <div>
          <div>Total Categories</div>
          <div><%= totalCategory %></div>
        </div>
        <div>
          <div>Total Items</div>
          <div><%= totalItems %></div>
        </div>
      </div>
    </main>
  </body>
</html>
